html {
  height: 100%;
  margin-bottom: 0px;
}

form {
  margin: 0;
  padding: 0;
}

forminput {
	background-color:#490E2C;
	border:1px solid #999999;
	font-size:0.625em;
	color:#fff;
	margin:3px;
}

p.body {
	margin-top: 0;
	margin-bottom: 5px;
}

.registerbox {
	margin:15px;	
}

.stillopen {
	font-size:2.2em;
	color: #6CCF50;
	font-weight:bold;
	text-align:center;
	margin:10px 0 25px 0;
	line-height:1em;
}

.outage {
	margin:0 20px;	
}

.bullethead {
	color: #DD2484;
	font-weight:bold;
}

.regbutton {
	text-align:center;
	margin: 25px 0 15px 0;
}

body {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	line-height: 1.3em;
	margin: 0;
	padding: 0;
	font-size: 0.875em;
	color: #ffffff;
	background: #000000;
	text-align: left;
}

a:link, a:visited {
	text-decoration: none;
	font-weight: 600;
	color: #999999;
	outline: none;
}

a:hover {
	text-decoration: none;
	font-weight: 600;
	color: #dd2484;
}

a.headmenu:link, a.headmenu:visited {
	text-decoration: none;
	font-weight: 800;
	color: #000000;
	outline: none;
}

a.headmenu:hover {
	text-decoration: none;
	font-weight: 800;
	color: #ffffff;
}

a.headmenumail:link, a.headmenumail:visited {
	text-decoration: none;
	font-weight: 800;
	color: #ffffff;
	outline: none;
}

a.headmenumail:hover {
	text-decoration: none;
	font-weight: 800;
	color: #000000;
}

a.tandc:hover, a.tandc:link, a.tandc:visited {
	cursor:pointer;
	cursor: hand;
	font-weight: 800;
	color: #ffffff;
	text-decoration:none;
}

a.memlink:link, a.memlink:visited, a.memlink {
	cursor:pointer;
	cursor: hand;
	font-weight: 800;
	color: #ffffff;
	text-decoration:none;
}

a.memlink:hover {
	cursor:pointer;
	cursor: hand;
	font-weight: 800;
	color: #dd2484;
	text-decoration:none;
}

#headmenu {
	vertical-align:middle;
}

h2 {
	color: #6CCF50;
	font-size:1.25em;
}

h3 {
	color: #999999;
	padding-top:10px;
	font-size:1em;
}
.h3 {
	color: #999999;
	font-size:1em;
	font-weight:700;
}

a.faqh {
	color: #999999;
	padding-top:10px;
	font-size:1.1em;
	font-weight:700;
}

a.faqh:hover {
	color: #dd2484;
	padding-top:10px;
	font-size:1.1em;
	font-weight:700;
}

td {
	vertical-align:top;
}

#required {
	font-weight:800;
	color:#F14F9D;
	text-align:right;
	vertical-align:top;
	width:150px;
}

#nonrequired {
	color:#999999;
	text-align:right;
	vertical-align:top;
}

img.infobutton {
	vertical-align:middle;
}

#hintbox{ /*CSS for pop up hint box */
	position:absolute;
	top: 0;
	background-color: #ffff99;
	color: #000000;
	font-weight:600;
	width: 250px; /*Default width of hint.*/ 
	padding: 6px;
	border:2px solid black;
	font:normal 11px Verdana;
	line-height:16px;
	z-index:100;
	visibility: hidden;
}


/*****************************************/
/*** Template specific layout elements ***/
/*****************************************/
#formh2r {
	color: #6CCF50;
	font-size:1.25em;
	text-align:right;
	font-weight:900;
}

#formh2 {
	color: #6CCF50;
	font-size:1.25em;
	font-weight:900;
}

#formh3 {
	color: #999999;
	font-size:0.875em;
	font-weight:900;
}

#infohead {
	color: #6CCF50;
	padding-top:0.625em;
	font-size:1em;
}

#forummenu {
	border:2px groove #cf5f9a;
	background-color: #dd2484;
	color: #000000;
	font-weight:900;
}

#forumquote{
	border:2px solid #111111;
	background-color: #394B2B;
	padding:8px;
	margin-left:auto;
	margin-right:auto;
	margin-top:8px;
	margin-bottom:8px;
	width:90%;
}

#forumquotedisp{
	border:2px solid #111111;
	background-color: #394B2B;
	padding:8px;
	margin-left:auto;
	margin-right:auto;
	margin-top:8px;
	margin-bottom:8px;
}

#forumquoteuser{
	font-weight:700;
	font-style:italic;
}

a.forumcat {
	color: #ffffff;
	letter-spacing:1px;
	padding-right:5px;
	padding-left:5px;
	font-weight:900;
}

a.forumcat:hover {
	color: #000000;
	letter-spacing:1px;
	padding-right:5px;
	padding-left:5px;
	font-weight:900;
}

a.forumcatselected {
	color: #000000;
	letter-spacing:1px;
	padding-right:5px;
	padding-left:5px;
	font-weight:900;
	background-color:#ff99ff;
}

a.forumcatselected:hover {
	color: #000000;
	letter-spacing:1px;
	padding-right:5px;
	padding-left:5px;
	font-weight:900;
	background-color:#ff99ff;
}

a.catselected {
	text-decoration: none;
	font-weight: 600;
	color: #dd2484;
}

a.catselected:hover {
	text-decoration: none;
	font-weight: 600;
	color: #dd2484;
}

a.profilemenu2 {
	border-top:1px solid #903464;
	border-right:1px solid #903464;
	border-bottom:0px;
	border-left:1px solid #903464;
	background-color: #903464;
	padding:3px 6px;
	font-size:12px;
	line-height:20px;
	color:#ffffff;
	margin:0px;
}

a.profilemenu2:hover {
	border-top:1px solid #903464;
	border-right:1px solid #903464;
	border-bottom:0px;
	border-left:1px solid #903464;
	background-color: #dd2484;
	padding:3px 6px;
	font-size:12px;
	color:#ffffff;
	margin:0px;
}
/*cf5f9a 89516f*/
a.profilemenu2selected, a.profilemenu2selected:hover {
	border-top:1px solid #903464;
	border-right:1px solid #903464;
	border-bottom:1px solid #222222;
	border-left:1px solid #903464;
	background-color: #222222;
	padding:3px 6px;
	font-size:12px;
	color:#ffffff;
	margin:0px;
}

#profilemenubox {
	margin:12px 0px 0px 0px;
	padding:0px;
}

#profilewrapper {
	border:2px groove #00511b;
	background-color: #222222;
	padding:0px 0px 10px 0px
}

#profileleftwrapper {
	float:left;
	width:200px;
	margin:17px 17px 0px 17px;
}

#profilemaindetails {
	min-height:500px;
	margin:0px 17px 17px 17px;
	background: url('/artwork/shamrockbackground.png') no-repeat right bottom;
}

#profilemaindetails2 {
	margin:0px 17px 17px 17px;
}

#topshade {
	background-color:#444444;
	border-bottom:2px solid #903464;
	margin:0px 0px 17px 0px;
	padding:17px 0px 0px 0px;
}

#profileinfo2 {
	margin-top:8px;
}

#adminprofiledisclaimer {
	color: #777777;
	font-style:italic;
	font-size:.75em;
	padding-bottom:20px;
}

#adminprofileinfo {
	float:left;
	padding-right:20px;
	max-width:400px;
}

#adminprofileapp {
	float:left;
	padding-right:20px;
	max-width:500px;
}

#adminprofilepics {
	float:left;
}

#maincontent {
	border:2px groove #00511b;
	background-color: #222222;
	padding:7px;
}

#adminbox {
	min-height:300px;
	background: url('/artwork/shamrockbackground.png') no-repeat right bottom;
}

.forum1 {
	color: #dd2484;
	font-weight:900;
	font-size: 1.5em;
	font-style:italic;
}

a.forumtopic {
	color: #009732;
	font-weight:600;
	font-size: 1.2em;
	font-style:italic;
}

#info {
	font-size:0.625em;
}

#page_bg {
	background: #000000 url('/artwork/bg.png') repeat center top;
}

#top_table {
	background: url('/artwork/top_bg_g.png') no-repeat center top;
}

#profileleftcolumn {
	border-top:2px solid #666666;
	border-bottom:5px solid #666666;
	border-right:1px solid #666666;
	background-color: #333333;
	margin:0px 0px 10px 0px;
	padding:0px 3px;
}

#profileleftcolumnoptions {
	border-top:2px solid #666666;
	border-bottom:5px solid #666666;
	border-right:1px solid #666666;
	background-color: #333333;
	padding: 0px 10px 0px 5px;
}

#profilephotothumb {
	text-align:center;
	margin-bottom:10px;
}

#profilerightcolumn {
	border-top:2px solid #666666;
	border-bottom:5px solid #666666;
	border-left:1px solid #666666;
	background-color: #333333;
	padding: 3px 10px 3px 5px;
	float:right;
	margin:17px 17px 0px 17px;
}

#userforumposts {
	padding:17px;
	clear:both;
}

#under21 {
	border:2px groove #dd2484;
	background-color: #dd2484;
	font-size:1.25em;
	font-weight: bold;
	text-align:center;
	line-height:1.5em;
}

#expiring {
	border:2px groove #dd2484;
	background-color: #dd2484;
	font-size:1.25em;
	font-weight: bold;
	text-align:center;
	line-height:2em;
}

#heading {
	border:2px groove #cf5f9a;
	background-color: #000000;
}

#profilemenu {
	border:2px groove #cf5f9a;
	background-color: #000000;
}

#bottommenu {
	border:2px groove #00511b;
	background-color: #000000;
}

#onlinestats {
	border:2px groove #cf5f9a;
	background-color: #000000;
	color: #dd2484;
	font-weight:bold;
}

div.shoutbox {
	margin: 10px;
	height: 185px;
	overflow:auto;
}

p.shouttext {
	color: #ffffff;
	font-size:1em;
	margin-bottom:-12px;
}

p.shouttime {
	color: #777777;
	font-style:italic;
	font-size:.75em;
	margin-bottom:-12px;
}

#footer {
	background-color: #000;
	text-align: center;
	font-size: 0.75em;
	line-height: 1.5em;
	color: #666666;
	margin: 0 20px 25px;
    padding: 12px;
}

p.expired {
	color:#ffffff;
	margin:15px;
	font-size: 1.5em;
	line-height: 2em;
}

.notice {
	color: #dd2484;
	font-weight:900;
	font-style:italic;
}

.clr {
	clear: both;
}

.username {
	font-weight:900;
	color:#6CCF50;
}

.dark {
	color: #444444;
	font-weight:900;
}

.margin5 {
	margin:5px;
}

.floatright
{
	float:right;
}

img.infobuttonright {
	vertical-align:middle;
	float:right;
}

.profiletitle {
	color: #6CCF50;
	font-weight:900;
	font-size:21px;
}

.profilestatus {
	color: #999999;
	font-style:italic;
}

#profilelabels {
	font-weight:800;
	color:#999999;
	text-align:right;
	vertical-align:top;
	padding-right:5px;
}

.status {
	color: #999999;
	font-style:italic;
	font-size: 1em;
}

.statusbox {
	padding-bottom:5px;
	padding-top:5px;
}

.profilehead {
	color: #dd2484;
	font-style:italic;
	font-size: 1.2em;
	font-weight:800;
}

#profilelabelssm {
	font-weight:700;
	color:#777777;
	text-align:right;
	vertical-align:top;
	font-size: .75em;
	line-height:1.2em;
	}
	
#profilelabelssmleft {
	font-weight:700;
	color:#777777;
	text-align:left;
	vertical-align:top;
	font-size: .75em;
	line-height:1.2em;
	}

.profileeditbutton {
	font-size: .85em;
	color:#ffffff;
	background-color:#005e1f;
	border:1px #999999 solid;
	cursor:pointer;
	cursor: hand;
}

.profileeditbutton:hover {
	font-size: .85em;
	color:#ffffff;
	background-color:#444444;
	border:1px #cccccc solid;
	cursor:pointer;
	cursor: hand;
}

#profilesm {
	font-size: .75em;
	vertical-align:top;
	text-align:left;
	line-height:1.2em;
}

table.profile {
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr.profileinfoowner {
	border-top: 1px #666666 solid;
	font-size: 1em;
	padding:4px 0px 4px 8px;
	background-color:#cccccc;
	color:#000000;
}

tr.profileinfotopb {
	border-top: 1px #666666 solid;
	border-bottom: 1px #666666 solid;
	font-size: 1em;
	padding:4px 0px 4px 8px;
	background-color:#333333;
	font-weight:900;
	color:#999999;
}

tr.profileinfotop {
	border-top: 1px #666666 solid;
	border-bottom: 1px #666666 solid;
	font-size: 1em;
	padding:4px 0px 4px 8px;
	background-color:none;
}

tr.profileinfotop:hover {
	border-top: 1px #666666 solid;
	border-bottom: 1px #666666 solid;
	font-size: 1em;
	padding:4px 0px 4px 8px;
	background-color:#333333;
	cursor:default;
}

tr.profileinfo {
	border-bottom: 1px #666666 solid;
	font-size: 1em;
	background-color:none;
}

tr.profileinfo:hover {
	border-bottom: 1px #666666 solid;
	font-size: 1em;
	background-color:#333333;
	cursor:default;
}

tr.profileinfor {
	border-bottom: 1px #666666 solid;
	font-size: 1em;
	background-color:#111111;
}

tr.profileinfor:hover {
	border-bottom: 1px #666666 solid;
	font-size: 1em;
	background-color:#333333;
	cursor:default;
}

#userlabels {
	font-weight:800;
	color:#dd2484;
	text-align:right;
	vertical-align:top;
	padding:3px 5px 3px 10px;
}

#userinfo {
	vertical-align:top;
	padding:3px 10px;
}

td.calMonth1 {
	background-color:#333333;
	text-align:center;
	padding:5px 5px 5px 10px;
	border-top:1px #000000 solid;
	font-weight:900;
	white-space:nowrap;
}

td.calMonth2 {
	background-color:#444444;
	text-align:center;
	padding:5px 5px 5px 10px;
	border-top:1px #000000 solid;
	font-weight:900;
	white-space:nowrap;
}
/*005e1f*/
td.cal1 {
	background-color:#333333;
	text-align:center;
	padding:5px;
	border-top:1px #000000 solid;
	width:30px;
}

td.cal2 {
	background-color:#444444;
	text-align:center;
	padding:5px;
	border-top:1px #000000 solid;
	width:30px;
}

td.calToday {
	background-color:#903464;
	text-align:center;
	padding:5px;
	border-top:1px #000000 solid;
	width:30px;
}

td.calEvent {
	background-color:#005e1f;
	text-align:center;
	padding:5px;
	border-top:1px #000000 solid;
	width:30px;
}

td.calEventToday {
	background-color:#005e1f;
	text-align:center;
	padding:2px;
	border:3px #903464 solid;
	width:30px;
}

td.calEventToday:hover {
	background-color:#ffff99;
	text-align:center;
	padding:5px;
	border-top:1px #000000 solid;
	border-right:0px;
	border-bottom:0px;
	border-left:0px;
	width:30px;
	color:#000000;
	cursor:default;
}

td.cal1:hover, td.cal2:hover, td.calToday:hover, td.calEvent:hover {
	background-color:#ffff99;
	text-align:center;
	padding:5px;
	border-top:1px #000000 solid;
	width:30px;
	color:#000000;
	cursor:default;
}

td.calEventhover {
	background-color:#ffff99;
	text-align:center;
	padding:5px;
	border-top:1px #000000 solid;
	width:30px;
	color:#000000;
	cursor:default;
}

td.calhead {
	text-align:center;
	font-weight:900;
	padding:5px;
}

#calendar {
	float:left;
	padding-right:20px;
}

#calendarEvents {
	float:left;
	padding-right:20px;
}

#calevent {
	color:#6CCF50;
	font-weight:700;
	font-size:1.2em;
}

#caldate {
	color:#666666;
	font-weight:500;
	font-style:italic;
	font-size:1.3em;
	background-color:#1a1a1a;
	padding:3px;
}

#caltime {
	color:#999999;
	font-weight:500;
	font-style:italic;
}

table.calev {
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin-top:10px;
}

table.calev1 {
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr.calev1 {
	border-bottom: 1px #666666 solid;
}

tr.calev {
	border-bottom: 1px #666666 solid;
}

tr.calev:hover, tr.calevtoday:hover {
	border-bottom: 1px #666666 solid;
	background-color:#333333;
	cursor:default;
}
/*410a27*/
tr.calevtoday {
	border-bottom: 1px #666666 solid;
	background-color:#62344c;
	cursor:default;
}

tr.calrowhover {
	background-color:#333333;
}

tr.calrow {
}

#disclaimer {
	background-color:#111111;
	border:2px solid #903464;
	padding:10px;
	margin:20px 0px 0px 0px;
	text-align:center;
	color:#999999;
	font-size:.75em;
	line-height:1.2m;
	font-style:italic;
	width:400px;
}

#welcblurb{
	color:#ffffff;
	font-weight:900;
	font-size:1.2em;
	line-height:1.5em;
	text-align:center;
	margin-bottom:10px;
}

.disclaimerhead {
	font-weight:700;
	color:#ffffff;
	font-size:1.2em;
	font-style:normal;
}

#mailfolders {
	border-top:2px solid #666666;
	border-bottom:5px solid #666666;
	border-right:1px solid #666666;
	background-color: #333333;
	margin:10px 17px 10px 10px;
	padding:4px;
}

#mailread {
	border-top:2px solid #666666;
	border-bottom:5px solid #666666;
	border-left:1px solid #666666;
	background-color: #333333;
	padding:4px;
}

#mailavatar {
	margin:10px;
}

#mfolders {
	text-align:right;
	font-size:.9em;
	white-space:nowrap;
}

a.mfolderlinksel, a.mfolderlinksel:hover {
	color:#ffffff;
	font-weight:900;
	font-style:italic;
	font-size:1.3em;
}

#mailmessages {
	margin:10px 10px 10px 0px;
}

#cfdump {
	color:#000000;
}

#birthmonth {
	color:#000000;
	background-color:#ffff66;
}

table.mailtable {
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr.mailtop {
	border-top: 1px #666666 solid;
	border-bottom: 1px #666666 solid;
	font-size: 1em;
	background-color:#dd2484;
	font-weight:900;
	color:#ffffff;
}

tr.mailrow {
	border-bottom: 1px #666666 solid;
	font-size: 1em;
	font-weight:900;
	background-color:#3a3a3a;
	background-color:none;
}

tr.mailrow:hover {
	border-bottom: 1px #666666 solid;
	font-size: 1em;
	font-weight:900;
	background-color:#333333;
	cursor:default;
}

tr.mailrowread {
	border-bottom: 1px #666666 solid;
	font-size: 1em;
	background-color:none;
}

tr.mailrowread:hover {
	border-bottom: 1px #666666 solid;
	font-size: 1em;
	background-color:#333333;
	cursor:default;
}

#headinfo {
	vertical-align:top;
	padding:3px 6px;
}

#headinfosort {
	vertical-align:top;
	padding:3px 6px;
	background-color:#9B195D;
}

#headinfo2 {
	vertical-align:top;
	padding:3px 3px;
}

#headinfosort2 {
	vertical-align:top;
	padding:3px 3px;
	background-color:#9B195D;
}

#mailinfo {
	vertical-align:top;
	padding:3px 6px;
	white-space:nowrap;
}

a.msg {
	color:#ffffff;
}

a.msg:hover {
	color:#000000;
}

.invis {
	display:none;
}

#mailquote{
	border:2px solid #111111;
	background-color: #394B2B;
	padding:8px;
	margin-left:auto;
	margin-right:auto;
	margin-top:8px;
	margin-bottom:8px;
	width:97%;
}

#return {
	border:2px solid #333333;
	background-color:#000000;
	padding:10px;
}

#video1 {
	float:left;
	padding:7px;
	width:330px;
	height:300px;
	white-space:nowrap;
}
#video1-profile {
	float:left;
	padding:7px;
	width:330px;
	height:300px;
}
#profile1 {
	float:left;
	width:350px;
	height:110px;
	margin:7px;
	padding:5px;
	background-color:#111111;
}

#conn1 {
	float:left;
	width:350px;
	height:259px;
	margin:7px;
	padding:5px;
	background-color:#111111;
}
#conn2 {
	width:340px;
	height:100px;
	padding-top:5px;
	border-top:1px solid #333333;
	border-bottom:1px solid #333333;
	overflow:auto;
	color:#999999;
}
#conn3 {
	width:340px;
	height:24px;
}
#conn4 {
	float:left;
	margin:7px;
}
.profun {
	color: #6CCF50;
	font-weight:900;
	font-size:16px;
	margin-bottom:2px;
}

#photo1 {
	float:left;
	padding:7px;
	width:220px;
	height:255px;
	white-space:nowrap;
}
#photo1-profile {
	float:left;
	padding:7px;
	width:210px;
	height:225px;
}
#photo2 {
	float:left;
	border:2px solid #111111;
	margin:7px;
}
#photo3 {
	clear:both
}
#searchform{
	margin:15px 5px;
}

#eventselect{
	margin-top:60px;
}

#ccbillwhite{
	background-color:#FFFFFF;
}

#stats {
	min-width:300px;
	max-width:500px;
}

.tog {
	white-space:nowrap;
}

.fcac {
	font-size:18px;
	font-weight:600;
}

/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
div.pagination {
	padding:3px;
	margin:3px;
	clear:both;
	font-weight: bold;
	color: #cccccc;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #666666;
	text-decoration: none; 
	color: #cccccc;
	background: #444444;
}

div.pagination a:hover, div.pagination a:active {
	border:1px solid #6CCF50;
	color: #ccc;
	background: #005e1f;
}

div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #6CCF50;
  	font-weight: bold;
	background: #005e1f;
	color: #cccccc;
}

div.pagination span.next, div.pagination span.previous {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #444444;
	font-weight: bold;
	color: #444444;
}

#zipcity, #usernamevalid {
	padding: 4px 0 0 0;	
}
